h1 {
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.container {
   width: 40%;
   height: 30vh;
   margin: 0 40px;
   background-color: #0a2351;
   border: 5px solid whitesmoke;
   border-radius: 10px;

}

div.container span {
   font-size: 70px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   color: white;
   padding: 70px 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}